.popup__form {
  width: 100%;
  padding: 36px 34px 36px 37px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 370px;
}

@media all and (max-width: 600px) {
  .popup__form {
    width: 100%;
    padding: 25px 22px 25px 22px;
  }
}
