.profile__image-container {
  position: relative;
  cursor: pointer;
}
.profile__image-container:hover:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(-25px/2);
  margin-left: -13px;
  width: 26px;
  height: 25px;
  background: url(../../../images/svg/edit-avatar.svg) center center no-repeat;
  z-index: 1;
}
.profile__image-container:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background: rgb(0%, 0%, 0%, .8);
  z-index: 0;
}
