.header {
  margin: 0;
  padding: 0;
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media all and (max-width: 320px) {
  .header {
    min-height: 56px;
  }
}
